:root {
    --brand-background: #f0f4f0;
    /* Subtle Green */
    --brand-primary: #6f4e37;
    /* Coffee Brown */
    --brand-primary-dark: #5a3c2b;
}

body {
    background-color: var(--brand-background);
    touch-action: manipulation;
    /* Disable double-tap to zoom on mobile */
}

.container {
    max-width: 720px;
    /* Better layout for desktop */
}

.btn-primary {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--brand-primary-dark) !important;
    border-color: var(--brand-primary-dark) !important;
}

.feedback-btn.ok-btn {
    padding-left: 0.8rem;
    /* Make the button wider */
    padding-right: 0.8rem;
}

.plant-name-wrapper {
    height: 3em;
    /* Accommodate 2 lines of text */
    display: flex;
    align-items: center;
}

.plant-name {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.due-date-text {
    font-size: small;
}